@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
}
.navbar {
    width: 100%;
    text-align: center;
}

.fixheading {
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.header {
    font-size: 53px;
    width: 100%;
    padding-top: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 8px;
    color: #ffffff;

}

ul {
   list-style-type: none;
   text-align: center;
   display: inline-block;
   color: #ffffff;
   position: relative;
   margin: 0;
   padding: 0;
   background-color: transparent;   
}

li {
  float: left;
}

li a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 0 25px;
  text-decoration: none;
  letter-spacing: 3px;
  
}

li a:hover {
  background-color: #111;

}


.bgimage {
    position: absolute;
    z-index: -1;
    margin: 0;
    top: 0px;
}
img { 
  width: 100%;
  height: auto;
}
