@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
 html {
     height: 100%;
}
 body {
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     background-color: #000;
     background-repeat: no-repeat;
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     justify-content: space-between;
     margin:0;
     padding:0;
     height: 100vh;
}
/*header and nav bar*/
 h1 a {
     color: #FFFFFF;
     background-color: transparent;
     text-decoration: underline;
     text-underline-position: under;
}
 h1 a:hover {
     color: #FFFFFF;
}
 .weblinks {
     width: 100%;
     text-align: center;
}
 .fixheading {
     margin: 0 auto;
     left: 0;
     right: 0;
}
 .fixed-top {
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     z-index: 1030;
     background-color: rgba(0, 0, 0, 0.5);
     max-width: 100vw;
}
 .title {
     width: 100%;
     padding-top: 5px;
     text-transform: uppercase;
     text-decoration: underline;
     text-underline-position: under;
     text-align: center;
     letter-spacing: 8px;
     color: #ffffff;
}
 ul {
     list-style-type: none;
     text-align: center;
     display: inline-block;
     color: #ffffff;
     margin: 0;
     padding: 0;
     background-color: transparent;
}
 li {
     float: left;
}
 li a {
     font-family: 'Raleway', sans-serif;
     color: #FFFFFF;
     text-align: center;
     padding: 5px 25px;
     text-decoration: none;
     letter-spacing: 3px;
}
 li a:hover {
     background-color: #111;
     text-decoration: none;
     color: #FFFFFF;
}
 #container {
     background-image: url("../images/hotel-cart.jpg");
     min-width: 100vw;
     height: 98vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     overflow: hidden;
}
/*footer*/
 #footer {
     color:#ffffff;
     font-family: 'Raleway', sans-serif;
     margin: 0 auto;
     padding-top: 50px;
     padding-bottom: 50px;
     display: inline-block;
     width: 100%;
     bottom: 0;
     text-align: center;
     position: static;
}
 .icons {
     margin-right: 10px;
}
/*about page*/
 .text-box {
     font-size: 16px;
     background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%);
     padding: 15px 10px 10px 10px;
     margin-top: 4em;
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: center;
}
 .about-image-bg {
     background-image: url("../images/blur-edges.jpg");
     min-width: 100vw;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 10%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}
 .abouthead {
     margin-bottom: 40px;
     text-decoration: underline;
     text-underline-position: under;
}
 .about-text {
     color: #ffffff;
     word-spacing: 3px;
}
/*contact page*/
 #contactbground {
     background-image: url("../images/katharine-bigtop.jpg");
     max-width: 100vw;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
}
 .contacthead {
     text-decoration: underline;
     text-underline-position: under;
}
/*gallery page*/
 #photos {
     clear: both;
     line-height: 0;
     column-count: 3;
     column-gap: 0px;
}
/*form contact page*/
 .form-section {
    clear: left;
    display: flex;
    align-items: center;
    justify-content: center;
    Padding-top: 4em;
    margin-top: 4em;
    padding-bottom: 30%;
}
 #form-container {
     left:0;
}
 .signup-form {
     color: #FFFFFF;
     background-color: rgba(60, 60, 60, 0.85);
     width: 450px;
     padding: 30px;
     max-width: 100vw;
     margin-bottom: 8%;
}
 .signup-form h2 {
     color: #FFFFFF;
     margin-bottom: 20px;
}
 .text-input {
     background: transparent;
     color: #FFFFFF;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border: 1px solid #FFFFFF;
     border-radius: 2px;
}
 #message {
     background: transparent;
     color: #FFFFFF;
     width: 100%;
     height: 100px;
     margin: 5px 0 20px 0;
     border: 1px solid #FFFFFF;
     border-radius: 2px;
}
 .text-input:hover{
     border-color: #030177;
}
 .submit-button {
     margin-top: 20px;
     border-radius: 2px;
     padding: 15px 32px 15px 32px;
     text-align: center;
     font-size: 100%;
     background-color: #030177;
     color: #FFFFFF;
     display: block;
}
 .submit-button:hover{
     background-color: #FFFFFF;
     color: #030177;
}
/*video page*/
.background-video {
    background-image: url("../images/starrysky.jpg");
    background-size: cover;
}
 iframe {
     display: block;
     margin: auto;
     margin-top: 200px;
     width: 640px;
     height: 360px;
     max-width: 100vw;
     max-height: 100vh;
}
 .text-videos {
     color: #ffffff;
     text-align: center;
     padding: 25px;
     background: linear-gradient(to left, rgb(255, 255, 255, 0)0%, rgba(25, 25, 25, 0.8) 5%, rgba(25, 25, 25, 0.8) 95%, rgb(255, 255, 255, 0) 100%);
}
 p a {
     background-color: none;
     text-decoration: underline;
     color: #FFFFFF;
}
 p a:hover {
     color: #FFFFFF;
     background-color: transparent 
}
.video-headings {
    font-weight: 300;
}
/*Media Queries*/
 @media screen and (max-width: 375px) {
     .text-box {
         margin-top: 25%;
    }
}
 @media screen and (min-width: 320px) {
     #photos {
         column-count: 3;
         margin-top: 200px;
    }
}
 @media screen and (min-width: 320px) {
     .signup-form {
         margin-top: 20%;
    }
}