@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
html {
    height: 100%;
}

  body {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    padding:0;
    height:auto;
}

/*------- header --------*/

.weblinks {
    width: 100%;
    text-align: center;
}

.fixheading {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.title {
    font-size: 53px;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 8px;
    color: #ffffff;

}

ul {
   list-style-type: none;
   text-align: center;
   display: inline-block;
   color: #ffffff;
   margin: 0;
   padding: 0;
   background-color: transparent;   
}

li {
  float: left;
}

li a {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 0 25px;
  text-decoration: none;
  letter-spacing: 3px;
  
}

li a:hover {
  background-color: #111;

}

#container  {
  background-image: url("../images/hotel-cart.jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}  



/*--- footer -----*/

#footer {
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: center;
    position: static;

}

.icons {
    margin-right: 10px;
}

/*-----about page-----*/
.text-box{
    position: absolute;
    left: 10%;
    margin-top: 15%;
    color: #fff;
    background-color: transparent;
    max-width: 500px;
    padding: 30px;
    text-align: center;
}


.about-text {
    color: #ffffff;
}

#about-image {
    display: flex;
    justify-content: flex-end;
   
}
  
/*------contact page------*/

#contactbground {
    background-image: url("../images/katharinebigtop.jpg");
    min-width: 100vw;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

/*------- gallery page ----*/



@media screen and (min-width: 312px) {
#photos {
    column-count: 3;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
}

/*------- form------*/
.form-section {
    clear: left;
    height: 900px;
}
   #form-container {
        left:0;
    }
    


.signup-form {
  position: absolute;
  left: 10%;
  margin-top: 175px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 350px; 
  padding: 30px;
  
}
.signup-form h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  
}

/*-----media query test tomorrow
@media screen and (max-width: 800px) {
    #photo {
     column-count:2;
     -------*/

.text-input:hover{
  border-color: #030177;
}

.submit-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #030177;
  color: #fafafa;
  display: block;
}

.submit-button:hover{
  background-color: #fafafa;
  color: #030177;
}

